@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');


.loginContainer{
margin-left: 300px;
margin-bottom: 100px;
margin-top: 30px;
padding-top: 20px;
  width: 400px;
  height: auto;
  min-height: 450px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  background: rgba(164, 0, 158, 0.02);
}

#login-box .logo .logo-caption {
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin-bottom: 0px;
}
#login-box .logo .tweak {

	color: rgba(#880156, 0.89);
}
#login-box .controls {
margin-top: 20px;
	/*padding-top: 10px;*/
}
#login-box .controls input {
  margin-left: 90px;

  width: 220px;
  height: 35px;
	border-radius: 20px;
  margin-top:0px;
	background: rgba(10, 70, 88, 0.9);
	border: 15px;
	color: white;
	font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-size: 18px;
  border-color: rgba(145, 201, 75, 0.86);
  text-align: center;
}
#login-box .controls input:focus {
	box-shadow: none;
}

#login-box button {
  width: 100px;
border-radius: 20px;
	margin-top: 10px;
  margin-left: 160px;
	background:#87B85D;
	/*border-color: rgba(48, 46, 45, 1);*/
	color: white;
	font-family: 'Nunito', sans-serif;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #ff5252;
}
