.sidebar{
width: 220px;

  margin-left: 0px;
  margin-right: 20px;
  margin-top: -30px;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(7%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 7%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
/*border-right:1px dashed #6d0019;
border-bottom: 1px dashed #6d0019;*/
border-radius: 0px 0px 10px 0px;
-webkit-box-shadow: 0px 2px 14px -5px black;
-moz-box-shadow: 0px 2px 14px -5px black;
box-shadow: 0px 2px 14px -5px black;
}


.navbar-default{


   background: #860255;
   /* Webkit (Safari/Chrome 10) */
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #860255), color-stop(100, #EF4B3F));
   /* IE10+ */
   background-image: -ms-linear-gradient(right, #860255 0%, #EF4B3F 100%);
   /* Mozilla Firefox */
   background-image: -moz-linear-gradient(right, #860255 0%, #EF4B3F 100%);
   /* Opera */
   background-image: -o-linear-gradient(right, #860255 0%, #EF4B3F 100%);
   /* Webkit (Chrome 11+) */
   background-image: -webkit-linear-gradient(right, #860255 0%, #EF4B3F 100%);
   /* W3C Markup */
   background-image: linear-gradient(to left, #860255 0%, #EF4B3F 100%);

   width: auto;
   height: 100px;

}
.navbar-collapse .active {
  top: 80px !important;
  position: relative;
  transition: all .3s;
}

.classeraimg {
  position: absolute;
width: 200px;
height: 60px;
margin-top: -25px;

}

.navbar-collapse ul {
  float: right;
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  transition: all .3s;
  position: relative;
  top: 0;
}
.navbar-collapse li {
  display: inline-block;
  margin: 0;
}
.navbar-collapse li::before {

  margin: 0 0px;

}
.navbar-collapse li:first-child::before {
  display: none;
}
 .search {
  width: 80px;
  height: 0px;
  float: right;
  color: #fff;
  font-size: 18px;
  border-bottom: 100px solid rgba(0, 0, 0, 0.1);
  border-left: 40px solid transparent;
  position: relative;
  transition: .3s;
}
 .search::before {
  content: '';
}
#main-container {
  min-width: 1100px;
  width: auto;
  height: auto;
position: relative;
  margin-left:200px;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);


}
*,
*::before,
*::after {
  box-sizing: border-box;
}


/*--------------------
App
--------------------*/
.search-form {
  position: relative;
  top: 40px;
  left: 110px;
  width: 200px;
  height: 30px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search-form input{
  padding-left: 20px;
}


.form-control {
border-radius: 20px;
border: none ;
left: 50px;
}


.search-button {
  position: absolute;
  top: 7px;
  right:10px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: left;
  top: 5px;
  left: 5px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #e24040;
  opacity: .9;
}
.search-option div input:checked + label span {
  background: #e24040;
}
.search-option div input:checked + label span::after {
  border-top-color: #e24040;
}
.navbar-default{
  position: relative;
}
.dropdown-menu{
  position: absolute;

}
.dropdown-toggle{
  margin-top:10px;
  margin-right:100px;
  width: 120px;
  position: fixed;
}

.navbar-right{
  position: absolute;
}
.menu{
width: 210px;
margin-left: 10px;
margin-top: 5px;

}
#menu-group-1{
  font-size: 18px;
  color: #303030;
}
.left-navigation{

  width: 190px;
margin-left: 20px;
  margin-top: 20px;
  font-size: 17px;
cursor: pointer;

}

.categoryName{
  color: #bb1029;
}
#login_header_info{
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height:90px;
}
.sidebarFooter{
  margin-left: 0px;
}
.socialicon{
  padding: 0px;
  margin-left: 60px;
  margin-bottom: 4px;
  color: red;
}
.socialicon a{

  padding-right: 5px;
  text-decoration: none;
  color: #CCC;
  transition: color .2s ease-in-out;

}


.copyright{
  margin-left: 55px;
  margin-bottom: 2px;
  font-size:14px;
  font-family: sans-serif;
  color: #989898;
}
.singintag {
  color: white;
  font-size: 18px;
  font-family: sans-serif;

}
#login_header_info a{
  color: white;

}

/*Section articles index start*/
/*/manual/articles/index*/
.articlesAction{
  margin-left: 550px;
  margin-top: -35px;
}
.articlesAction li {
  list-style: none;
  float: left;
  padding-right: 20px;


}
.articleDate{
  color: #888484;
}
.articlesnav{
  border: black;
  background: red;
}
#categoryName{
font-size: 24px;
font-variant: small-caps;
font-stretch: extra-condensed;
padding-left: 10px;
color: #f26c16;

}
#articleTitle{
  padding-left: 60px;
  padding-top: 10px;
  color: #777777;
}
#articleName{
  padding-left: 1px;
  font-variant: small-caps;
  font-stretch: condensed;
  font-size:30px;
  color: #bf003f;

}
.lead{
  width: 1050px;
  padding-left: 20px;
  margin-top: 5px;
}
.articledevider{
width: 700px;
margin-left: 200px;

}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  width:300px;
  margin-top: -60px;
  margin-left: 450px;

}
.nav-justified > li > a {
  padding-top: 10px;
  width: 120px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}


@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

.deleteariticleOnedit{
  color: rgb(124, 0, 48);
  /*font-variant: small-caps;*/
}
.deleteariticleOnedit a{
  color: rgb(124, 0, 48);
  font-family: serif;
  font-variant: small-caps;
}
.deleteariticleOnedit i {
  padding-left: 800px;
  color: rgb(124, 0, 48);
}


.editTitle{
  margin-left: 200px;
  width: 250px;
  padding: 9px;
 text-align: center;
 font-size: 18px;
 font-variant: small-caps;
 border-radius: 20px;
color: #b6003c;
background-color: #d4d4d4;
 border-color: black;
 border: 10px;
}
#category-id{

}
.editActions button{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 500px;
  color: white;
  font-weight: bold;

}
